How to add custom attribute tagging options?

LDAP supports [attribute options][1] but when attempting to add attributes like `cn;x-bar: Jane` I get an error.

    #!ERROR [LDAP: error code 17 - cn;x-bar: unrecognized option]

I'm using OpenLDAP 2.4.47.

  [1]: https://github.com/openldap/openldap/blob/7ca538ff87a4acc022a83c659502d2df49802ad1/doc/rfc/rfc3866.txt#L101-L130

I stumbled upon the [slapd.conf man page](http://www.openldap.org/software/man.cgi?query=slapd.conf&sektion=5&apropos=0&manpath=OpenLDAP+2.4-Release) which includes this section:

       attributeoptions [option-name]...
              Define tagging attribute options or option  tag/range  prefixes.
              Options  must not end with `-', prefixes must end with `-'.  The
              `lang-' prefix is predefined.  If you use  the  attributeoptions
              directive,  `lang-'  will  no  longer  be  defined  and you must
              specify it explicitly if you want it defined.

              An attribute description with a tagging option is a  subtype  of
              that attribute description without the option.  Except for that,
              options defined this way have no  special  semantics.   Prefixes
              defined  this  way  work like the `lang-' options: They define a
              prefix for tagging options starting with the prefix.   That  is,
              if  you  define  the  prefix  `x-foo-',  you  can use the option
              `x-foo-bar'.  Furthermore, in a search or compare, a  prefix  or
              range  name  (with  a trailing `-') matches all options starting
              with that name, as well as the option with the range  name  sans
              the trailing `-'.  That is, `x-foo-bar-' matches `x-foo-bar' and
              `x-foo-bar-baz'.

              RFC 4520  reserves  options  beginning  with  `x-'  for  private
              experiments.   Other options should be registered with IANA, see
              RFC 4520 section 3.5.  OpenLDAP also  has  the  `binary'  option
              built in, but this is a transfer option, not a tagging option.

I'm looking through the [source code](http://www.openldap.org/devel/gitweb.cgi) for information on how to add attribute options.

So far I've found this in `doc/man/man5/slapd-config.5`

```
.B olcAttributeOptions: <option-name>...
Define tagging attribute options or option tag/range prefixes.
Options must not end with `\-', prefixes must end with `\-'.
The `lang\-' prefix is predefined.
If you use the
.B olcAttributeOptions
directive, `lang\-' will no longer be defined and you must specify it
explicitly if you want it defined.
```

It looks like we can do this

```yaml
dn: cn=config 
changetype: modify
add: olcAttributeOptions
olcAttributeOptions: x-bar
```

Here's a full example for anyone else landing here. 

```
➤  docker run -p 1399:389 --name my-openldap-container --detach osixia/openldap:latest

➤  ldapmodify -H ldap://localhost:1399 -D 'cn=admin,cn=config' -w 'config' <<+                                                          1 ↵
dn: cn=config
changetype: modify
add: olcAttributeOptions
olcAttributeOptions: x-bar
+
modifying entry "cn=config"

➤  ldapmodify -H ldap://localhost:1399 -D 'cn=admin,dc=example,dc=org' -w 'admin' -a <<+                                              247 ↵
dn: ou=people,dc=example,dc=org
objectClass: organizationalUnit

dn: cn=jane,ou=people,dc=example,dc=org
objectClass: person
cn: Jane
cn;x-bar: JaneX
sn: Doe
+
adding new entry "ou=people,dc=example,dc=org"

adding new entry "cn=jane,ou=people,dc=example,dc=org"

➤  ldapsearch -H ldap://localhost:1399 -D 'cn=admin,dc=example,dc=org' -w 'admin' -b 'ou=people,dc=example,dc=org' 'objectClass=person'
# extended LDIF
#
# LDAPv3
# base <ou=people,dc=example,dc=org> with scope subtree
# filter: objectClass=person
# requesting: ALL
#

# jane, people, example.org
dn: cn=jane,ou=people,dc=example,dc=org
objectClass: person
cn: Jane
cn;x-bar: JaneX
sn: Doe

# search result
search: 2
result: 0 Success

# numResponses: 2
# numEntries: 1
```